.btn {
    background-color: #FAB71B;
    border-radius: 10px;
    width: 125px;
    height: 50px;
    border: none;
    margin: 10px;
    font-size: 1.1rem;
    color: white;
    cursor: pointer;
    transition: transform 250ms;
}

.btn:hover,
.btn:focus {
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.35em);
}