.container {
    display: flex;
    flex-direction: row;
    width: 50vw;    
    min-width: 500px;
    height: min-content;
    /* border: solid 1px red; */
    border-radius: 10px;
    justify-content: space-evenly;
    font-size: large;
    text-align: center;
    margin-right: 7.5%;
    background-color: #ffe7af;    



}

.independentContainer {
    align-self: center;
    /* width: 16.6667%; */
    text-align: center;
}