.container {
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
}

.rowContainer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

text {
    font-size: 0.9rem;
}

.delimeter {
    font-weight: 600;
    color: green;
}