.App {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 100vh;
}

.Navigation {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 30px;
  text-align: center;
  justify-content: flex-end;

}

.List {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 25vw;
  min-width: 300px;
  justify-content: space-between;
  list-style: none;
  font-size: 1rem;
  margin-right: 60px;
  animation: 1s ease-out 0s 1 slideInFromLeft;



}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

